.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
  padding-top: 20vh;
}

.description>div>form{
  display: flex;
  flex-direction: column;
}

.select{
  font-size: 20px;
  width: 300px;
  height: 35px;
}

.btn{
  margin-top: 100px;
  align-self: center;
  height: 35px;
  width: 10vw;
  background-color: green;
  border-radius: 7px;
  font-size: larger;
}

